<md-toolbar>
  <button (click)="sidenav.toggle()" class="toolbar-button" md-mini-fab><md-icon>menu</md-icon></button>
  <div class="toolbar-button-row">
    <a md-button
      *ngFor="let topLink of links"
      [routerLink]="topLink.path"
      routerLinkActive="routerLinkActive">
      <md-icon>{{topLink.icon}}</md-icon> &nbsp; {{topLink.label}}
    </a>
  </div>
  <span>Список важных задач</span>
</md-toolbar>

<md-sidenav-container>
  <md-sidenav #sidenav mode="over" class="app-sidenav">
    <nav>
      <a md-button
        class="nav-link"
        *ngFor="let link of links"
        [routerLink]="link.path"
        routerLinkActive="active">
        <md-icon>{{link.icon}}</md-icon> &nbsp; {{link.label}}
      </a>
    </nav>
  </md-sidenav>

  <div class="app-content">
    <router-outlet></router-outlet>
  </div>
</md-sidenav-container>